* {
    margin: 0;
    padding: 0;
    font-family: arial;
    font-size: 13px;
    color: #555;
}

body, form {
    height: 100%;
    width: 100%;
}

#mask {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    background-color: #000;
    opacity: 0.9;
}

#dialog-container {
    visibility: hidden;
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
}

#dialog-container .window {
    position: absolute;
    top: 10%;
    left: 50%;
    width: 300px;
    margin-left: -160px;
    padding: 10px;
    z-index: 200;
    background-color: #ccc;
    text-align: center;
    font-size: 110%;
    border: solid 1px #333;
    border-radius: 3px;
}

.container {
    position: relative;
    width: 500px;
    margin: auto;
}

.main-form {
    margin-top: 30px;
    padding: 25px;
    background-color: #fff;
}

h1 {
    font-size: 130%;
    font-weight: 200;
    margin: 2px 0;
    padding: 0;
    color: #fff;
}

.input {
    position: relative;
    z-index: 1;
    display: inline-block;
    margin: 4em 0;
    max-width: 400px;
    width: 200px;
    vertical-align: top;
    border-bottom: solid 3px #98fb98;
}

.field {
    display: block;
    padding: 0.3em 0.5em;
    width: 100%;
    border: none;
    border-radius: 0;
    background: transparent;
    box-sizing: border-box;
    font-weight: bold;
    font-size: 220%;
    color: #98fb98;
    -webkit-appearance: none; /* for box shadows to show on iOS */
}

.field:focus {
    /*outline: outset #003a6b 3px;*/
    outline: none;
}

.label {
    position: absolute;
    top: 0;
    padding: 0 1em;
    width: 100%;
    
}

.label-content {
    position: absolute;
    display: block;
    padding: 0.5em 0;
    z-index: -1;
    font-weight: bold;
    font-size: 220%;
    color: #eee;
    width: 100%;
    
    transition: transform 0.3s;
}

.label::before,
.label::after {
    content: '';
    position: absolute;
    left: 0;
    z-index: -1;
    width: 100%;
    /*
    height: 4px;
    background: #003a6b;
    */

    transition: transform 0.3s;
}

.label::before {
	top: 0;
}

.label::after {
	bottom: 0;
}

.field:focus + .label .label-content,
.input-filled .label-content {
    -webkit-transform: translate(0, 80%);
    transform: translate(0, 80%);
}


.message {
    display: block;
    margin: 20px 0;
    padding: 0;
    color: #003a6b;
}

.button {
    display: inline-block;
    width: 100%;
    margin: 5px 0;
    padding: 0.8em 0;
    color: #666;
    border: 0px;
    border-radius: 2px;
    box-shadow: #ccc 2px 2px 2px;
    font-size: 180%;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    background-color: #eee;
}

.button:hover {
    cursor: pointer;
}

.button:hover,
.button:focus {
    outline: none;
    color: #666;
    background-color: #98fb98;
}

.mt-1 {
    margin-top: 10px;
}

.mt-2 {
    margin-top: 20px;
}

.mb-1 {
    margin-bottom: 10px;
}

.mb-2 {
    margin-bottom: 20px;
}

.form-elements {
    display: block;
}